<div class="footer">
  <div class="module">
    <section class="help">
      <div class="contact">
        <div class="phone">
          <i class="fa fa-phone"></i>
        </div>
        <div class="location">
          <p class="mobile">4000-00-00</p>
          <p>商城客服热线</p>
          <p>周一至周日：09:00-22:00</p>
        </div>
      </div>
      <ul class="list">
        <li><a href="#">新手指南</a></li>
        <li><a href="#">会员等级</a></li>
        <li><a href="#">注册新用户</a></li>
        <li><a href="#">网站订购流程</a></li>
        <li><a href="#">客户签收流程</a></li>
      </ul>
      <ul  class="list">
        <li><a href="#">支付方式</a></li>
        <li><a href="#">货到付款</a></li>
        <li><a href="#">网银支付流程</a></li>
        <li><a href="#">如何办理退款</a></li>
        <li><a href="#">各银行支付限额</a></li>
        <li><a href="#">支付宝支付流程</a></li>
        <li><a href="#">财付通支付流程</a></li>
      </ul>
      <ul  class="list">
        <li><a href="#">配送办法</a></li>
        <li><a href="#">配送费收取标准</a></li>
        <li><a href="#">配送时效</a></li>
        <li><a href="#">签收注意事项</a></li>
      </ul>
      <ul  class="list">
        <li><a href="#">售后服务</a></li>
        <li><a href="#">售后政策</a></li>
        <li><a href="#">退换货说明</a></li>
        <li><a href="#">售后服务保障</a></li>
      </ul>
      <ul  class="list">
        <li><a href="#">帮助中心</a></li>
        <li><a href="#">常见问题</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
      <ul  class="list">
        <li>关注我们</li>
        <li><a href="#"><span class="weibo xinlang"><i class="fa fa-weibo"></i></span>新浪微博</a></li>
        <li><a href="#"><span class="weibo tencent"><i class="fa fa-tencent-weibo"></i></span>腾讯微博</a></li>
      </ul>
      <div class="follow">
        <div class="title">商城微信公众号</div>
        <div>
          <img class="qrcode" src="/image/qrcode.jpg" />
        </div>
      </div>
      <div class="follow">
        <div class="title">客户端下载</div>
        <div>
          <img class="qrcode" src="/image/qrcode.jpg" />
        </div>
      </div>
    </section>
    <section class="extend">
      <dl>
        <dd>
          <img class="qrcode" src="/image/qrcode.jpg" />
          <div class="enlarge-qrcode">
            <img class="pic" src="/image/qrcode.jpg" />
          </div>
          <div class="content">
            <div class="title">手机版</div>
            <div class="description">轻按手指，全球宝贝送到家！</div>
            <div class="download">
              <div class="client">
                <i class="icon fa fa-apple"></i>
                <span class="name">App Store</span>
              </div>
              <div class="client">
                <i class="icon fa fa-android"></i>
                <span class="name">Android</span>
                </div>
            </div>
          </div>
        </dd>
        <dd>
          <img class="qrcode" src="/image/qrcode.jpg" />
          <div class="enlarge-qrcode">
            <img class="pic" src="/image/qrcode.jpg" />
          </div>
          <div class="content">
            <div class="title">官方微信</div>
            <div class="description">扫描二维码，即刻与亲们 互动！</div>
          </div>
        </dd>
        <dd>
          <div class="take">
            <div class="name">订阅促销信息</div>
            <i class="email-icon fa fa-envelope-o"></i>
            <input type="text" placeholder="请输入您的Email地址" />
            <span class="post">订阅</span>
          </div>
        </dd>
        <dd class="xinlang-spread">
          <img class="pic" src="/image/xinlang.png" />
          <a href="#" class="qes-follow">
            <div class="icon">
              <i class="fa fa-weibo"></i>
            </div>
            <span class="name">加关注</span>
          </a>
        </dd>
        <dd class="tencent-spread">
          <a href="#">
            <img class="pic" src="/image/tencent.png" />
            <span class="listen"><i class="icon fa fa-plus"></i>立即收听</span>
          </a>
        </dd>
      </dl>
    </section>
    <section class="friendlink">
      <ul>
        <li>友情链接：</li>
        <li><a href="#">购物系统</a></li>
        <li><a href="#">网上购物系统</a></li>
        <li><a href="#">商城系统</a></li>
        <li><a href="#">网上商城系统</a></li>
        <li><a href="#">网店系统</a></li>
        <li><a href="#">B2C商城系统</a></li>
        <li><a href="#">B2B2C商城系统</a></li>
        <li><a href="#">微商城系统</a></li>
        <li><a href="#">B2B2C商城系统</a></li>
        <li><a href="#">lodoeshop</a></li>
        <li><a href="#">好格网络</a></li>
        <li><a href="#">更多>></a></li>
      </ul>
    </section>
    <section class="about">
      <div class="crumbs">
        <ul>
          <li><a href="#">关于我们</a></li>
          <li><a href="#">联系我们</a></li>
          <li><a href="#">人才招聘</a></li>
          <li><a href="#">帮助中心</a></li>
          <li><a href="#">合作伙伴</a></li>
          <li><a href="#">友情链接</a></li>
          <li><a href="#">新闻资讯</a></li>
          <li><a href="#">网站联盟</a></li>
          <li><a href="#">快递查询</a></li>
          <li><a href="#">我要留言</a></li>
          <li><a href="#">电商系统</a></li>
          <li><a href="#">微商城系统</a></li>
        </ul>
      </div>
      <div class="javascript">
        Copyright ©2017 Meilishuo.com  电信与信息服务业务经营许可证100798号 经营性网站备案信息
      </div>
      <div class="remark">
        京ICP备11031139号  京公网安备110108006045   客服电话：4000-800-577  文明办网文明上网举报电话：010-82615762  违法不良信息举报中心
      </div>
    </section>
  </div>
</div>
