<div class="aside-navigation">
  <div class="service">
    <section class="module shopping-cart">
      <a href="#">
        <i class="icon fa fa-shopping-cart"></i>购物车
      </a>
    </section>
    <section class="module contact">
      <i class="icon fa fa-commenting-o"></i>联系客服
      <ul class="list">
        <li>客服</li>
        <li>
          <a href="#">
            <img src="/image/qq_service.gif" /><span class="name">客服小陈</span>
          </a>
          </li>
        <li>
          <a href="#">
            <img src="/image/qq_service.gif" /><span class="name">客服小林<span>
          </a>
        </li>
      </ul>
    </section>
  </div>
  <div class="back-top">
    <div class="icon">
      <i class="fa fa-angle-up"></i>
    </div>
    <span class="title">返回顶部</span>
  </div>
  <div class="enlarge">
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-suitcase"></i>
          <span class="name">我的优惠券</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-heart-o"></i>
          <span class="name">喜欢的商品</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-volume-up"></i>
        </a>
        <div class="list">
          <div class="title">公告信息</div>
          <div class="content">
            <div class="icon"></div>
            <div class="polling">
              <dl>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗1</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗2</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗3</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗4</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗5</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗6</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-address-card-o"></i>
        </a>
        <div class="list">
          <div class="title">最新资讯</div>
          <div class="content">
            <div class="icon"></div>
            <div class="polling">
              <dl>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗7</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗8</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗9</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗10</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗11</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
                <dd>
                  <a href="#">
                    <img class="pic" src="/image/news/news_1.jpg">
                    <span class="description">客服中心提醒:提高警惕 谨防受骗12</span>
                    <span class="date">2017-04-08</span>
                  </a>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
