<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>网上购物系统</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/tool/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/tool/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/all.css" />
</head>
<body>
  <nav class="index-navigation">
    <div class="inner">
      <ul>
        <li>微信登录</li>
        <li><img class="icon" src="/image/qq.png" /><span class="name">QQ登录</span></li>
        <li>登录</li>
        <li>注册</li>
        <li><i class="icon icon-cart fa fa-shopping-cart"></i><span class="name">我的购物车</span></li>
        <li><i class="icon icon-order fa fa-file-text-o"></i><span class="name">我的订单</span></li>
        <li><i class="icon icon-phone fa fa-mobile-phone"></i><span class="name">下载App</span></li>
        <li>帮助中心</li>
      </ul>
    </div>
  </nav>
  <header class="index-header">
    <div class="logo">
      <a href="/"><img src="/image/logo.gif" /></a>
    </div>
    <div class="search">
      <div class="global">
        <div class="inner">
          <input type="text"placeholder="这些防晒服让你时尚又可爱" />
          <div class="icon">
            <i class="search-icon fa fa-search"></i>
          </div>
        </div>
        <dl class="list">
          <dd>初秋外套</dd>
          <dd>牛仔外套</dd>
          <dd>V领衬衫</dd>
          <dd>高跟鞋</dd>
        </dl>
      </div>
    </div>
  </header>
  <div class="classify-body">
    <section class="header">
      <ul>
        <li class="{$index}">全部
          <div class="all-list">
            <dl>
              <dt>上衣</dt>
              <dd>新品发布</dd>
              <dd>人气热销</dd>
              <dd>应季潮品</dd>
              <div class="more">
                <section class="list">
                  <div class="title">
                    <label>新品发布</label>
                  </div>
                  <span class="item">初秋外套</span>
                  <span class="item">针织衫</span>
                  <span class="item">牛仔外套</span>
                </section>
                <section class="list">
                  <div class="title">
                    <label>人气热销</label>
                  </div>
                  <span class="item">纯色T恤</span>
                  <span class="item">防晒衣</span>
                  <span class="item">V领衬衫</span>
                </section>
                <section class="list">
                  <div class="title">
                    <label>应季潮品</label>
                  </div>
                  <span class="item">POLO衫</span>
                  <span class="item">套装</span>
                  <span class="item">纯T</span>
                </section>
              </div>
            </dl>
            <dl>
              <dt>鞋子</dt>
              <dd>畅销热卖</dd>
              <dd>潮流速递</dd>
              <dd>经典必备</dd>
              <div class="more">
                <section class="list">
                  <div class="title">
                    <label>畅销热卖</label>
                  </div>
                  <span class="item">凉鞋</span>
                  <span class="item">小白鞋</span>
                  <span class="item">单鞋</span>
                </section>
                <section class="list">
                  <div class="title">
                    <label>潮流速递</label>
                  </div>
                  <span class="item">坡跟鞋</span>
                  <span class="item">平底鞋</span>
                  <span class="item">一脚蹬</span>
                </section>
                <section class="list">
                  <div class="title">
                    <label>经典必备</label>
                  </div>
                  <span class="item">运动鞋</span>
                  <span class="item">尖头鞋</span>
                </section>
              </div>
            </dl>
            <dl>
              <dt>包包配饰</dt>
              <dd>人气精选</dd>
              <dd>畅销热卖</dd>
              <dd>当季新品</dd>
              <div class="more">
                <section class="list">
                  <div class="title">
                    <label>人气精选</label>
                  </div>
                  <span class="item">手拿包</span>
                  <span class="item">手提包</span>
                  <span class="item">双肩包</span>
                </section>
                <section class="list">
                  <div class="title">
                    <label>畅销热卖</label>
                  </div>
                  <span class="item">水桶包</span>
                  <span class="item">贝壳包</span>
                  <span class="item">方形包</span>
                </section>
                <section class="list">
                  <div class="title">
                    <label>当季新品</label>
                  </div>
                  <span class="item">堆堆袜</span>
                  <span class="item">项链</span>
                  <span class="item">水晶手链</span>
                </section>
              </div>
            </dl>
            <dl>
              <dt>美妆</dt>
              <dd>面部护肤</dd>
              <dd>香水彩妆</dd>
              <dd>身体护理</dd>
              <div class="more">
                <section class="list">
                  <div class="title">
                    <label>面部护肤</label>
                  </div>
                  <span class="item">面膜</span>
                  <span class="item">爽肤水</span>
                  <span class="item">洁面</span>
                </section>
                <section class="list">
                  <div class="title">
                    <label>香水彩妆</label>
                  </div>
                  <span class="item">BB霜</span>
                  <span class="item">粉底液</span>
                  <span class="item">香水</span>
                </section>
                <section class="list">
                  <div class="title">
                    <label>身体护理</label>
                  </div>
                  <span class="item">洗发护发</span>
                  <span class="item">丰胸脱毛</span>
                </section>
              </div>
            </dl>
          </div>
        </li>
        <li class="{$index === 'home' ? 'active' : ''}"><a href="/">首页</a></li>
        <li class="{$index === '1' ? 'active' : ''}"><a href="/class?id=1">最热</a></li>
        <li class="{$index === '2' ? 'active' : ''}"><a href="/class?id=2">上衣</a></li>
        <li class="{$index === '3' ? 'active' : ''}"><a href="/class?id=3">护肤</a></li>
        <li class="{$index === '4' ? 'active' : ''}"><a href="/class?id=4">彩妆</a></li>
        <li class="{$index === '5' ? 'active' : ''}"><a href="/class?id=5">包包</a></li>
        <li class="{$index === '6' ? 'active' : ''}"><a href="/class?id=6">配饰</a></li>
        <li>
          更多<i class="icon fa fa-sort-down"></i>
          <dl>
            <dd>名牌</dd>
            <dd>热销</dd>
            <dd>特价</dd>
            <dd>新品</dd>
            <dd>推荐</dd>
          </dl>
        </li>
      </ul>
    </section>
    <section class="body">
      <block name="main"></block>
    </section>
  </div>
  <include file="default/footer" />
  <include file="default/navigation" />
  <script src="/tool/jquery/dist/jquery.min.js"></script>
  <script src="/tool/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/build/main.js"></script>
  <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</body>
</html>
