<extend name="default/base" />
<block name="main">
  <div class="home">
    <section class="banner">
      <div class="carousel">
        <ul class="pic">
          <li>
            <a href="#">
              <img class="banner_logo" src="/image/banner/banner_1.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img class="banner_logo" src="/image/banner/banner_2.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img class="banner_logo" src="/image/banner/banner_3.jpg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img class="banner_logo" src="/image/banner/banner_4.jpg" />
            </a>
          </li>
        </ul>
        <div class="direct">
          <div class="page page-left"><i class="icon fa fa-angle-left"></i></div>
          <div class="page page-right"><i class="icon fa fa-angle-right"></i></div>
        </div>
        <dl class="page-btn">
          <dd class="active"></dd>
          <dd></dd>
          <dd></dd>
          <dd></dd>
        </dl>
      </div>
      <div class="advert">
        <ul>
          <li>
            <a href="#"><img class="pic" src="/image/advert/advert_1.jpg" /></a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/advert/advert_2.jpg" /></a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/advert/advert_3.jpg" /></a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/advert/advert_4.jpg" /></a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/advert/advert_5.jpg" /></a>
          </li>
        </ul>
      </div>
    </section>
    <section class="content">
      <section class="list common-list">
        <div class="title">正在流行 <span class="subtitle">流行元素 权威榜单<span></div>
        <ul>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_1.png" /></a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_2.jpg" /></a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_3.jpg" /></a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_4.jpg" /></a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_5.png" /></a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_6.jpg" /></a>
          </li>
        </ul>
      </section>
      <section class="list primary-list">
        <div class="title">新品精选
          <span class="subtitle">尖货来袭 要你好看<span>
          <a href="#" class="more">更多新品</a>
        </div>
        <ul>
          <li>
            <a href="#">
              <img class="pic" src="/image/shop/index_7.jpg" />
            </a>
            <div class="detail">
              <span class="price">￥99.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3199</span>
            </div>
            <a href="#" class="shop-title">欧丽源丰胸美乳霜</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_8.jpg" /></a>
            <div class="detail">
              <span class="price">￥93.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3272</span>
            </div>
            <a href="#" class="shop-title">雅漾舒护活泉水喷雾300ML，降敏感肌补水保湿滋润舒缓止痒</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_9.jpg" /></a>
            <div class="detail">
              <span class="price">￥59.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3297</span>
            </div>
            <a href="#" class="shop-title">御泥坊光感皙颜蚕丝面膜15片 注入水润透出光！</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_10.jpg" /></a>
            <div class="detail">
              <span class="price">￥89.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3399</span>
            </div>
            <a href="#" class="shop-title">太阳的后裔宋慧乔明星同款2016大容量休闲软面两用情侣双肩包</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_11.jpg" /></a>
            <div class="detail">
              <span class="price">￥195.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3279</span>
            </div>
            <a href="#" class="shop-title">太阳的后裔宋慧乔明星同款2016大容量休闲软面两用情侣双肩包</a>
          </li>
        </ul>
      </section>
      <section class="list intermediate-list">
        <div class="title">时尚美妆
          <span class="subtitle">优选品牌 明星爆款<span>
          <a href="#" class="more">更多美妆</a>
        </div>
        <ul>
          <li>
            <a href="#">
              <img class="pic" src="/image/shop/index_12.jpg" />
            </a>
            <div class="detail">
              <span class="price">￥53.00</span>
              <span class="original-price">￥79.50</span>
            </div>
            <a href="#" class="shop-title">轻柔丝滑洗发乳500ml</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_13.jpg" /></a>
            <div class="detail">
              <span class="price">￥84.00</span>
              <span class="original-price">￥114.50</span>
            </div>
            <a href="#" class="shop-title">纯银几何三角形项链女</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/index_14.jpg" /></a>
            <div class="detail">
              <span class="price">￥135.00</span>
              <span class="original-price">￥185.00</span>
            </div>
            <a href="#" class="shop-title">韩国 Cllio珂莱欧气垫粉底液备带粉底送补充装 持久保湿</a>
          </li>
        </ul>
      </section>
      <section class="list senior-list">
        <div class="title">Hi范儿
          <span class="subtitle">与潮流不期而遇<span>
          <a href="#" class="more">查看更多</a>
        </div>
        <div class="switch">
          <dl>
            <dd class="active">欧美</dd>
            <dd>原创设计</dd>
            <dd>日韩</dd>
            <dd>甜美</dd>
          </dl>
        </div>
        <div class="tab-piecre">
          <ul>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_0_1.jpg" /></a>
            </li>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_0_2.jpg" /></a>
            </li>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_0_3.jpg" /></a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_1_1.jpg" /></a>
            </li>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_1_2.jpg" /></a>
            </li>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_1_3.jpg" /></a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_2_1.jpg" /></a>
            </li>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_2_2.jpg" /></a>
            </li>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_2_3.jpg" /></a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_3_1.jpg" /></a>
            </li>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_3_2.jpg" /></a>
            </li>
            <li>
              <a href="#"><img class="pic" src="/image/shop/list_3_3.jpg" /></a>
            </li>
          </ul>
        </div>
      </section>
      <section class="list advanced-list">
        <div class="title">好店推荐
          <span class="subtitle">店铺精选 品质保证<span>
          <a href="#" class="more">更多好店</a>
        </div>
        <div class="switch">
          <dl>
            <dd class="active">魅力女装</dd>
            <dd>时尚包包</dd>
            <dd>潮流美鞋</dd>
            <dd>必备小物</dd>
            <dd>精品男装</dd>
          </dl>
        </div>
        <div class="tab-piecre">
          <ul>
            <li>
              <img class="pic" src="/image/shop/store_0_1.jpg" />
              <div class="store">
                <a class="store-title" href="#">艾格官方旗舰店</a>
                <div class="store-description">约会浪漫初夏</div>
                <div class="store-sales">销量<span class="score">115</span>评分 <span class="score"ss>4.7</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_0_2.jpg" />
              <div class="store">
                <a class="store-title" href="#">cocobella旗舰店</a>
                <div class="store-description">高街时尚 拒绝撞衫 全场包邮</div>
                <div class="store-sales">销量<span class="score">23251</span>评分 <span class="score"ss>4.7</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_0_3.jpg" />
              <div class="store">
                <a class="store-title" href="#">1313气场女装</a>
                <div class="store-description">自成一格的原创设计气场女装</div>
                <div class="store-sales">销量<span class="score">125102</span>评分 <span class="score"ss>4.8</span></div>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <img class="pic" src="/image/shop/store_1_1.jpg" />
              <div class="store">
                <a class="store-title" href="#">艾丽丝姑娘</a>
                <div class="store-description">做一枚精致的女子，不忘初心....</div>
                <div class="store-sales">销量<span class="score">19766</span>评分 <span class="score"ss>4.6</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_1_2.jpg" />
              <div class="store">
                <a class="store-title" href="#">花心小铺专卖店</a>
                <div class="store-description">花心小铺品牌于2000年由point时尚工作室推出，专为时尚女性创造潮流女包！</div>
                <div class="store-sales">销量<span class="score">36099</span>评分 <span class="score"ss>4.7</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_1_3.jpg" />
              <div class="store">
                <a class="store-title" href="#">肩尚良品</a>
                <div class="store-description">行走在肩膀的时尚，你值得拥有！么么哒~</div>
                <div class="store-sales">销量<span class="score">21382</span>评分 <span class="score"ss>4.8</span></div>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <img class="pic" src="/image/shop/store_2_1.jpg" />
              <div class="store">
                <a class="store-title" href="#">韩时尚女鞋</a>
                <div class="store-description">主营日韩欧美奢华女鞋，走在时尚的前端。</div>
                <div class="store-sales">销量<span class="score">126213</span>评分 <span class="score"ss>4.5</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_2_2.jpg" />
              <div class="store">
                <a class="store-title" href="#">唯美女人味</a>
                <div class="store-description">本店以最优异服务和品质，让您享受购物的乐趣。</div>
                <div class="store-sales">销量<span class="score">57462</span>评分 <span class="score"ss>4.7</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_2_3.jpg" />
              <div class="store">
                <a class="store-title" href="#">伊丝妃儿</a>
                <div class="store-description">明星同款，款式韩风，百搭潮鞋</div>
                <div class="store-sales">销量<span class="score">17330</span>评分 <span class="score"ss>4.9</span></div>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <img class="pic" src="/image/shop/store_3_1.jpg" />
              <div class="store">
                <a class="store-title" href="#">凰米</a>
                <div class="store-description">卖喜欢的东西，给品味相投的人…</div>
                <div class="store-sales">销量<span class="score">112260</span>评分 <span class="score"ss>4.8</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_3_2.jpg" />
              <div class="store">
                <a class="store-title" href="#">壹克网EEKEshop</a>
                <div class="store-description">Eekeshop壹克－设计师原创首饰集合</div>
                <div class="store-sales">销量<span class="score">896</span>评分 <span class="score"ss>4.7</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_3_3.jpg" />
              <div class="store">
                <a class="store-title" href="#">MUOLEO旗舰店</a>
                <div class="store-description">时尚精品尽在本店</div>
                <div class="store-sales">销量<span class="score">506</span>评分 <span class="score"ss>4.7</span></div>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <img class="pic" src="/image/shop/store_4_1.jpg" />
              <div class="store">
                <a class="store-title" href="#">VIISHOW旗舰店</a>
                <div class="store-description">潮，是一种信仰！</div>
                <div class="store-sales">销量<span class="score">1202</span>评分 <span class="score"ss>4.7</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_4_2.jpg" />
              <div class="store">
                <a class="store-title" href="#">connive</a>
                <div class="store-description">慵懒随性，拒绝约束</div>
                <div class="store-sales">销量<span class="score">1032</span>评分 <span class="score"ss>4.8</span></div>
              </div>
            </li>
            <li>
              <img class="pic" src="/image/shop/store_4_3.jpg" />
              <div class="store">
                <a class="store-title" href="#">V.O.P 潮品男装</a>
                <div class="store-description">V.O.P 个性潮牌男装聚集地！</div>
                <div class="store-sales">销量<span class="score">8891</span>评分 <span class="score"ss>4.9</span></div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="list groom-list">
        <div class="title">新品精选
          <span class="subtitle">尖货来袭 要你好看<span>
        </div>
        <ul>
          <li>
            <a href="#">
              <img class="pic" src="/image/shop/groom_1.jpg" />
            </a>
            <div class="detail">
              <span class="price">￥258.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3199</span>
            </div>
            <a href="#" class="shop-title">圣荷丰胸霜45g</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/groom_2.jpg" /></a>
            <div class="detail">
              <span class="price">￥49.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3272</span>
            </div>
            <a href="#" class="shop-title">菲诗小铺 大米洗面奶 韩国女男洁面乳深层清洁毛孔补水保湿</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/groom_3.jpg" /></a>
            <div class="detail">
              <span class="price">￥1200.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3297</span>
            </div>
            <a href="#" class="shop-title">施华洛世奇水晶手链女欧美时尚多层手镯配饰品三八妇女节礼物女人</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/groom_4.jpg" /></a>
            <div class="detail">
              <span class="price">￥240.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3399</span>
            </div>
            <a href="#" class="shop-title">LANCASTER 黄色 真皮压纹皮抽带水桶包斜挎包</a>
          </li>
          <li>
            <a href="#"><img class="pic" src="/image/shop/groom_5.jpg" /></a>
            <div class="detail">
              <span class="price">￥150.00</span>
              <span class="follow"><i class="icon fa fa-heart"></i>3279</span>
            </div>
            <a href="#" class="shop-title">欧美秋季新款时尚链条包百搭复古潮流斜跨包气质名媛宴会包小包包</a>
          </li>
        </ul>
      </section>
    </section>
  </div>
</block>
