<extend name="default/base" />
<block name="main">
  <div class="product">
    <section class="crumbs">
      <ul>
        <li>
          <a href="/"><i class="icon fa fa-home"></i></a>
        </li>
        <li>
          <a href="/class?id=2">上衣</a>
        </li>
        <li>
          <a href="/">人气热销</a>
        </li>
        <li>
          <a href="/">防晒衣</a>
        </li>
        <li>
          <a href="/">商品详情 白色针织开衫中长款防晒衫</a>
        </li>
      </ul>
    </section>
    <section class="detail">
      <section class="exploded-view">
        <div class="main-view">
          <img src="/image/goods/goods_L_6.jpg" />
          <img src="/image/goods/goods_L_1.jpg" />
          <img src="/image/goods/goods_L_2.jpg" />
          <img src="/image/goods/goods_L_3.jpg" />
          <img src="/image/goods/goods_L_4.jpg" />
          <img src="/image/goods/goods_L_7.jpg" />
          <img src="/image/goods/goods_L_8.jpg" />
        </div>
        <div class="show-view"></div>
        <div class="page-btn">
          <div class="page previous-page"><i class="icon fa fa-caret-left"></i></div>
          <div class="page next-page"><i class="icon fa fa-caret-right"></i></div>
        </div>
        <div class="extends">
          <ul>
            <li><i class="fa fa-share-alt"></i><推荐给好友/li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-search-plus"></i></li>
          </ul>
        </div>
        <div class="jiathis_style">
          <span class="jiathis_txt">分享到：</span>
          <a class="jiathis_button_qzone">QQ空间</a>
          <a class="jiathis_button_tsina">新浪微博</a>
          <a class="jiathis_button_tqq">腾讯微博</a>
          <a class="jiathis_button_weixin">微信</a>
          <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
          <a class="jiathis_counter_style"></a>
        </div>
      </section>
      <section class="description">
        <div class="title">白色针织开衫中长款防晒衫</div>
        <div class="price">
          <div class="order">市场价：<span class="original">￥148.50</span></div>
          <div class="order">市场价：
            <span class="now">￥99.00</span>
            <span class="discount">6.6折</span>
          </div>
        </div>
        <div class="content">
          <div class="code">编号：<span class="code-num">DD_15</span>
            <span class="brand">商品品牌： <a href="#">美丽说</a></span>
          </div>
          <div class="gift">
            赠送积分：单送109积分【<a href="#">如何使用...</a>
          </div>
          <div class="sales">
            <span class="name">促销活动</span>
            <span class="sales-content">·888888</span>
          </div>
          <div class="score">
            <div class="grade">
              评分：<span class="star">
                <i class="icon fa fa-star"></i>
                <i class="icon fa fa-star"></i>
                <i class="icon fa fa-star"></i>
                <i class="icon fa fa-star"></i>
                <i class="icon fa fa-star"></i>
              </span>
            </div>
            <div class="volume">销量： <span class="num">218</span></div>
            <div class="evaluate">评价： <span class="num">0</span></div>
          </div>
          <div class="size-selected">
            <span class="name">尺寸筛选：请选择</span>
            <div class="size">
              <span class="goods-size">S</span>
              <span class="goods-size">M</span>
              <span class="goods-size">L</span>
            </div>
            <div class="num">
              购买数量
              <span class="button reduce"></span>
              <input type="number" min="1" value="1" />
              <span class="button plus"></span>
              <span class="cost">
                ￥<span class="new">99.00</span>
                <span class="extend">送：99积分</span>
              </span>
            </div>
            <div class="post">
              <div class="name">请选择："尺码筛选"</div>
              <div class="purchase">
                <div class="btn-cost btn-pay">立即购买</div>
                <div class="btn-cost btn-cart">加入购物车</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="recommend">
        <div class="shop">
          <div class="name">购买此者还购买</div>
          <div class="list">
            <ul>
              <li>
                <a href="#" >
                  <img class="pic" src="/image/goods/goods_1.jpg" />
                  <div class="title">雅漾舒护活泉水喷雾300ML，降敏感肌补水保湿滋润舒缓止痒</div>
                </a>
                <div class="price">￥93.00</div>
              </li>
              <li>
                <a href="#" >
                  <img class="pic" src="/image/goods/goods_2.jpg" />
                  <div class="title">雅漾舒护活泉水喷雾300ML，降敏感肌补水保湿滋润舒缓止痒</div>
                </a>
                <div class="price">￥93.00</div>
              </li>
              <li>
                <a href="#" >
                  <img class="pic" src="/image/goods/goods_3.jpg" />
                  <div class="title">雅漾舒护活泉水喷雾300ML，降敏感肌补水保湿滋润舒缓止痒</div>
                </a>
                <div class="price">￥93.00</div>
              </li>
              <li>
                <a href="#" >
                  <img class="pic" src="/image/goods/goods_4.jpg" />
                  <div class="title">雅漾舒护活泉水喷雾300ML，降敏感肌补水保湿滋润舒缓止痒</div>
                </a>
                <div class="price">￥93.00</div>
              </li>
            </ul>
          </div>
          <div class="page-btn">
            <div class="page page-down"></div>
            <div class="page page-up"></div>
          </div>
        </div>
      </section>
    </section>
    <section class="goods-content">
      <ul class="goods">
        <li class="module infomation">
          <h4>商品信息</h4>
        </li>
        <li class="module assess">
          <h4>商品评价</h4>
        </li>
        <li class="module consule">
          <h4>商品咨询</h4>
        </li>
        <li class="module service">
          <h4>售后服务</h4>
        </li>
        <li class="module explain">
          <h4>配送说明</h4>
        </li>
      </ul>
      <div class="complex"></div>
    </section>
  </div>
</block>
