<extend name="default/base" />
<block name="main">
  <div class="product">
    <section class="crumbs">
      <ul>
        <li>
          <a href="/"><i class="icon fa fa-home"></i></a>
        </li>
        <li>
          <a href="/class?id=2">上衣</a>
        </li>
        <li>
          <a href="/">人气热销</a>
        </li>
        <li>
          <a href="/">防晒衣</a>
        </li>
        <li>
          <a href="/">商品详情 白色针织开衫中长款防晒衫</a>
        </li>
      </ul>
    </section>
    <section class="detail">
      <section class="exploded-view">
        <div class="main-view">
          <img class="pic" src="/image/goods/goods_L_6.jpg" />
        </div>
        <div class="sub-view">
          <div class="page previous-page"><i class="icon fa fa-caret-left"></i></div>
          <div class="list">
            <ul>
              <li><img class="pic" src="/image/goods/goods_L_6.jpg" /></li>
              <li><img class="pic" src="/image/goods/goods_L_1.jpg" /></li>
              <li><img class="pic" src="/image/goods/goods_L_2.jpg" /></li>
              <li><img class="pic" src="/image/goods/goods_L_3.jpg" /></li>
              <li><img class="pic" src="/image/goods/goods_L_4.jpg" /></li>
              <li><img class="pic" src="/image/goods/goods_L_7.jpg" /></li>
              <li><img class="pic" src="/image/goods/goods_L_8.jpg" /></li>
            </ul>
          </div>
          <div class="page next-page"><i class="icon fa fa-caret-right"></i></div>
        </div>
      </section>
      <section class="description">
        <div class="title">白色针织开衫中长款防晒衫</div>
        <div class="price">
          <div class="order">市场价：<span class="original">￥148.50</span></div>
          <div class="order">市场价：
            <span class="now">￥99.00</span>
            <span class="discount">6.6折</span>
          </div>
        </div>
        <div class="content">
          <div class="code">编号：<span class="code-num">DD_15</span>
            <span class="brand">商品品牌： <a href="#">美丽说</a></span>
          </div>
          <div class="gift">
            赠送积分：单送109积分【<a href="#">如何使用...</a>
          </div>
          <div class="sales">
            <span class="name">促销活动</span>
            <span class="sales-content">·888888</span>
          </div>
          <div class="score">
            <div class="grade">
              评分：<span class="star">
                <i class="icon fa fa-star"></i>
                <i class="icon fa fa-star"></i>
                <i class="icon fa fa-star"></i>
                <i class="icon fa fa-star"></i>
                <i class="icon fa fa-star"></i>
              </span>
            </div>
            <div class="volume">销量： <span class="num">218</span></div>
            <div class="evaluate">评价： <span class="num">0</span></div>
          </div>
          <div class="size-selected">
            <span class="name">尺寸筛选：请选择</span>
            <div class="size">
              <span class="goods-size">S</span>
              <span class="goods-size">M</span>
              <span class="goods-size">L</span>
            </div>
            <div class="num">
              购买数量
              <span class="button reduce"></span>
              <input type="number" min="1" value="1" />
              <span class="button plus"></span>
              <span class="cost">
                ￥<span class="new">99.00</span>
                <span class="extend">送：99积分</span>
              </span>
            </div>
            <div class="post">
              <div class="name">请选择："尺码筛选"</div>
              <div class="purchase">
                <div class="btn-cost btn-pay">立即购买</div>
                <div class="btn-cost btn-cart">加入购物车</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="recommend">
      </section>
    </section>
  </div>
</block>
